<% if @cart %>
<div id="cart">
  <%= render @cart %>
</div>
<% end %>

<div style="padding-right:12em;width:64%;padding-left:14em;">
<p style="margin-top:0;padding-top:0;">
  <b>Performer:</b>
  <%= @event.performer %>
</p>

<p>
  <b>Date:</b>
  <%= @event.date %>
</p>

<p>
  <b>Time:</b>
  <%= @event.time %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @event.image_url %>
</p>

<p>
  <b>Price:</b>
  <%= @event.price %>
</p>

      <div class="price_line" >
      <span class="price" >
        <% if @event.price > 4 && @event.price < 6 %>
        <%= number_to_currency(@event.price) %>
        <% elsif @event.price > 6 %>
        <%= number_to_currency(@event.price) %>
        <% else %>
        <%= "no cover" %>
        <% end %>
        <% if @event.price > 6 && @event.utc.to_i - Time.now.to_i > 15300 %>
        <%= button_to 'Add to Cart', line_items_path(:event_id => @event) %>
        <% end %>
      </span>
      </div>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
</div>
