<% unless cart.line_items.empty? %>
<div class="cart-title" >Your Cart</div>
<table>
  <%= render(cart.line_items) %>

  <tr class="total_line" >
    <td colspan="2" >Total</td>
    <td class="total_cell" ><%= number_to_currency(cart.total_price) %></td>
  </tr>
</table>

<%= form_tag "https://www.paypal.com/cgi-bin/webscr" do %>
  <%= hidden_field_tag :cmd, "_s-xclick" %>  
  <%= hidden_field_tag :encrypted, @cart.paypal_encrypted(thanks_url) %>  
    <p><%= submit_tag "Checkout" %></p>  
<% end %>
<%= button_to 'Empty cart', cart, :method => :delete, :confirm => 'Are you sure?' %>
<% end %>
